<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <style type="text/css">
            .error { color: red; }
        </style>
    </head>
    <body>
        <h1>Signup
        </h1>

    </body>
</html>

<form action="/" method="post">
    <label>Username: <input name="username" type="text" value='{{username}}' /></label>
    <span class="error">{{username_error}}</span> 
    <br />
    <br />

    <label>Password: <input name="password" type="password" value='{{password}}' /></label>
    <span class="error">{{password_error}}</span>
    <br />
    <br />
    
    <label>Verify Password: <input name="verify_password" type="password" value='{{verify_password}}' /></label>
    <span class="error">{{passverify_error}}</span>
    <br />
    <br />

    <label>Email (optional): <input name="email" type="text" value='{{email}}' /></label>
    <span class="error">{{email_error}}</span>
    <br />
    <br />
    
    <label><input name="submit" type="submit" value="submit" /></label>
</form>